@model BIOGRAPHY_OF_PETSFAP.Models.Medicina
@{
    ViewBag.Title = "Detalle";
}
<div>
    <h4>Detalle Medicina</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
    </dl>
</div>
<input type="button" class="btn btn-success" value="Editar" onclick="@("window.location.href='" + @Url.Action("Edit", "Cita_Medica", new { id = Model.Id_Cita_Medica }) + "'");" /> |
<input type="button" class="btn btn-primary" value="Regresar a la Lista" onclick="@("window.location.href='" + @Url.Action("Index", "Cita_Medica") + "'");" />
