@model BIOGRAPHY_OF_PETSFAP.Models.Medicina

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Medicina</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Nombre)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Estado.Descripcion)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Estado.Descripcion)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id_Medicina }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
