@model IEnumerable<BIOGRAPHY_OF_PETSFAP.Models.Roles>

@{
    ViewBag.Title = "Roles";
    
}



<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" id="tablaRoles">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado.Descripcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado.Descripcion)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id_Rol }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id_Rol }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id_Rol })
                </td>
            </tr>
        }
    </tbody>
</table>

<script src="~/Scripts/Roles/Index.js"></script>