@model BIOGRAPHY_OF_PETSFAP.Models.Servicio
@{
    ViewBag.Title = "Detalle";
}
<legend>Detalle de Servicio</legend>
<hr />
<span style="color: #a94442;">@ViewBag.Exception</span>
<hr />
<div>
    <h4>Detalle de Servicio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Detalle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Detalle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Costo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Costo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tiempo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tiempo)
        </dd>
    </dl>
</div>
<input type="button" class="btn btn-success" value="Editar" onclick="@("window.location.href='" + @Url.Action("Edit", "Servicios", new { id = Model.Id_Servicio }) + "'");" /> |
<input type="button" class="btn btn-primary" value="Regresar a la Lista" onclick="@("window.location.href='" + @Url.Action("Index", "Servicios") + "'");" />