<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title - BIOGRAPHY OF PETSFAB</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery.min.js"></script>
    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    
    <!--webfont-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>


</head>
<body>
    <!-- header-section-starts -->
    <div class="header">
        <div class="container">
            <div class="logo">
                <a href="@Url.Action("Index", "Home")"><img src="~/images/logo.png" alt="" /></a>
            </div>
            <div class="tollfree">
                <ul>
                    <li>
                        @if (Session["NombreUsuarioSession"] != null)
                        {
                            <p class="phone">@Session["NombreUsuarioSession"].ToString()</p>
                        }
                        else
                        {
                           @Url.Action("Login", "Usuarios")
                        }
                        <input type="button" class="btn btn-success" value="Cerrar Sesion" id="CerrarSession_txt" onclick="@("window.location.href='" + @Url.Action("Login", "Usuarios") + "'");" />
                    </li>
                </ul>
            </div>
            <script>
                
                $('#CerrarSession_txt').click(
                function () {
                    $.ajax('/Usuarios/DestroySession');
                });

            </script>
            <div class="clearfix"></div>
            <div class="navigation">
                <div class="navigation-bar">
                    <span class="menu"></span>
                    <div class="top-menu">
                        <ul>
                            @if (Session["RolUsuarioSession"] == null)
                            {
                                Html.Action("DestroySessionRedirect", "Usuarios");
                            }else{
                            if (Session["RolUsuarioSession"].ToString() == "Administrador")
                            {
                                <li id="liHome">@Html.ActionLink("Inicio", "Index", "Home")</li>
                                <li id="liUser">@Html.ActionLink("Usuarios", "Index", "Usuarios")</li>
                                <li id="liPer">@Html.ActionLink("Personas", "Index", "Personas")</li>
                                <li id="liMedi">@Html.ActionLink("Medicinas", "Index", "Medicinas")</li>
                                <li id="liPaci">@Html.ActionLink("Pacientes", "Index", "Pacientes")</li>
                                <li id="liProd">@Html.ActionLink("Productos", "Index", "Productoes")</li>
                                <li id="liCita">@Html.ActionLink("Citas", "Index", "Cita_Medica")</li>
                                <li id="liFac">@Html.ActionLink("Factura", "Index", "Facturas")</li>
                            }
                            else if (Session["RolUsuarioSession"].ToString() == "Cajero")
                            {
                                <li id="liHome">@Html.ActionLink("Inicio", "Index", "Home")</li>
                                <li id="liPer">@Html.ActionLink("Personas", "Index", "Personas")</li>
                                <li id="liProd">@Html.ActionLink("Productos", "Index", "Productoes")</li>
                                <li id="liFac">@Html.ActionLink("Factura", "Index", "Facturas")</li>

                            }
                            else if (Session["RolUsuarioSession"].ToString() == "Doctor")
                            {
                                <li id="liHome">@Html.ActionLink("Inicio", "Index", "Home")</li>
                                <li id="liPer">@Html.ActionLink("Personas", "Index", "Personas")</li>
                                <li id="liMedi">@Html.ActionLink("Medicinas", "Index", "Medicinas")</li>
                                <li id="liPaci">@Html.ActionLink("Pacientes", "Index", "Pacientes")</li>
                                <li id="liCita">@Html.ActionLink("Citas", "Index", "Cita_Medica")</li>
                                <li id="liProd">@Html.ActionLink("Productos", "Index", "Productoes")</li>

                            }
                            else if (Session["RolUsuarioSession"].ToString() == "Inventario")
                            {
                                <li id="liHome">@Html.ActionLink("Inicio", "Index", "Home")</li>
                                <li id="liPer">@Html.ActionLink("Personas", "Index", "Personas")</li>
                                <li id="liProd">@Html.ActionLink("Productos", "Index", "Productoes")</li>
                                <li id="liFac">@Html.ActionLink("Factura", "Index", "Facturas")</li>
                            }
                            }
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <!-- script for menu -->
                    <script>
                        $("span.menu").click(function () {
                            $(".top-menu").slideToggle("slow", function () {
                                // Animation complete.
                            });
                        });
                    </script>
                    <!-- script for menu -->
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
    </div>
    <!-- header-section-ends -->
    <div class="content" >
        <div class="container" style="margin-top:70px">
                        @RenderBody()

        </div>       
    </div>
            <!-- footer ---->
            <div class="footer">
                <div class="container">
                    <div class="copyright text-center">
                        <p>&copy; @DateTime.Now.Year - BIOGRAPHY OF PETSFAB</p>
                    </div>
                </div>
            </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
