@model BIOGRAPHY_OF_PETSFAP.Models.Cita_Medica

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Cita_Medica</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Fecha)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Fecha)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Hora)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Hora)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Descripcion)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Descripcion)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Cliente.Id_Cliente)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Cliente.Id_Cliente)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Estado.Descripcion)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Estado.Descripcion)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Medicina.Nombre)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Medicina.Nombre)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Paciente.Animal)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Paciente.Animal)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id_Cita_Medica }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
