@model IEnumerable<BIOGRAPHY_OF_PETSFAP.Models.Cita_Medica>

@{
    ViewBag.Title = "Citas";
}

<input type="button" class="btn btn-default" value="Agregar" onclick="@("window.location.href='" + @Url.Action("Create", "Cita_Medica") + "'");" />

    <table id="tablaCitas" >
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Fecha)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Hora)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descripcion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cliente.Id_Cliente)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Estado.Descripcion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Medicina.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Paciente.Animal)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fecha)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Hora)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cliente.Id_Cliente)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Estado.Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Medicina.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Paciente.Animal)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.Id_Cita_Medica }) |
                        @Html.ActionLink("Detalles", "Details", new { id = item.Id_Cita_Medica }) |
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.Id_Cita_Medica })
                    </td>
                </tr>
            }
        </tbody>
    </table>

<input type="hidden" id="rol" value="@ViewData["HiddenFieldRol"]">
<script src="~/Scripts/Cita_Medica/Cita_Medica.js"></script>