@model BIOGRAPHY_OF_PETSFAP.Models.Persona

@{
    ViewBag.Title = "Editar";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Persona</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id_Persona)

        <div class="form-group">
            @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Apellidos, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Apellidos, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Apellidos, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Direccion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Direccion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Direccion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Telefono, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="Proveedor_Div" hidden>
            <div class="form-group">
                @Html.Label("Proveedor", htmlAttributes: new { @class = "control-label col-md-2" })
            </div>
            <div class="form-group">
                @Html.Label("Nombre_Empresa", "Nombre Empresa", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBox("Nombre_Empresa", null, htmlAttributes: new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Telefono_Empresa", "Telefono Empresa", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBox("Telefono_Empresa", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Direccion_Empresa", "Direccion Empresa", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBox("Direccion_Empresa", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Id_Persona, "Persona", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.LabelFor(model => model.chk_Cliente, "Cliente")
                @Html.CheckBoxFor(model => model.chk_Cliente, new { htmlAttributes = new { @class = "form-control" } })
                <br />
                @Html.LabelFor(model => model.chk_Proveedor, "Proveedor")
                @Html.CheckBoxFor(model => model.chk_Proveedor, new { htmlAttributes = new { @class = "form-control" } })
                <br />
                @Html.LabelFor(model => model.chk_Empleado, "Empleado")
                @Html.CheckBoxFor(model => model.chk_Empleado, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <script type="text/javascript">
            $('#chk_Proveedor').click(function () {
                if ($('#chk_Proveedor').is(":checked"))
                    $(".Proveedor_Div").show();
                else
                    $(".Proveedor_Div").hide();
            });
        </script>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div style="margin-right:25%; float:left">
                    <input type="submit" value="Guardar" class="btn btn-default" />
                </div>
                <div style="float:left;">
                    <input type="button" class="btn btn-default" value="Regresar a la Lista" onclick="@("window.location.href='" + @Url.Action("Index", "Personas") + "'");" />
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
