@model BIOGRAPHY_OF_PETSFAP.Models.Paciente

@{
    ViewBag.Title = "Eliminar";
}

<h3>Esta seguro de que quiere eliminar esto?</h3>
<div>
    <h4>Eliminar Paciente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Animal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Animal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Raza)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Raza)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Edad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Edad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Peso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Peso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cliente.Id_Cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.Id_Cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado.Descripcion)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Eliminar" class="btn btn-default" /> |
        <input type="button" class="btn btn-default" value="Regresar a la Lista" onclick="@("window.location.href='" + @Url.Action("Index", "Pacientes") + "'");" />
    </div>
    }
</div>
>
