@model BIOGRAPHY_OF_PETSFAP.Models.Factura


<h3>Esta seguro de que quiere eliminar esto?</h3>
<div>
    <h4>Eliminar Factura</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio_Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio_Total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cliente.Id_Cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.Id_Cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Empleado.Id_Empleado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empleado.Id_Empleado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado1.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado1.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Proveedor.Nombre_Empresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Proveedor.Nombre_Empresa)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            <input type="button" class="btn btn-default" value="Regresar a la Lista" onclick="@("window.location.href='" + @Url.Action("Index", "Facturas") + "'");" />
        </div>
    }
</div>