@model IEnumerable<BIOGRAPHY_OF_PETSFAP.Models.Factura>

@{
    ViewBag.Title = "Factura";
}

<input type="button" class="btn btn-default" value="Agregar" onclick="@("window.location.href='" + @Url.Action("Create", "Facturas") + "'");" />

    <table id="tablaFactura">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Fecha)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Precio_Total)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cliente.Id_Cliente)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Empleado.Id_Empleado)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Estado.Descripcion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Proveedor.Nombre_Empresa)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Precio_Total)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cliente.Id_Cliente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Empleado.Id_Empleado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Proveedor.Nombre_Empresa)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Numero_Factura }) |
                    @Html.ActionLink("Detalles", "Details", new { id = item.Numero_Factura }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.Numero_Factura })
                </td>
            </tr>
        }
    </tbody>
    </table>

<input type="hidden" id="rol" value="@ViewData["HiddenFieldRol"]">
<script src="~/Scripts/Factura/Factura.js"></script>
